// 4
// Partial File creation

// 6
$brown1: #964B00;

// 11
%center {
    text-align: center;
    padding: 20px;
}

@mixin flex ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    
}